//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================
.nav-pills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
}

.nav-item {
  border-radius: 8px;
}

.nav-pills .nav-link {
  color: $primary;
}

.nav-pills .nav-link.active {
width: 105px;
height: 48px;

/* content/base - content */

background: #000000;
border-color: #000000;
box-shadow:none;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}